.render {
  visibility: hidden;
  opacity: 0;
  transition: all 1.5s ease-in-out;

  .title {
    margin: 50px 0 10px -10px;
    color: #666;
    font-size: 24px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
  }

  &.show {
    visibility: visible;
    opacity: 1;
  }
}
