.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 25px;

  @media (min-width: 768px) {
    flex-direction: row;
    margin-bottom: 30px;
  }
}
