.promoWrapper {
  display: flex;
  text-align: center;
  margin: 20px;
  flex-direction: column;
  margin-top: 80px;

  @media (min-width: 768px) {
    flex-direction: row;
    text-align: right;
    margin-top: 40px;
  }

  @media (min-width: 1024px) {
    margin: 160px 40px;
  }
}
