#main {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  min-height: 100vh;
  align-items: center;

  @media (min-width: 1024px) {
    overflow: hidden;
  }

  @media (min-width: 1200px) {
    overflow: auto;
  }

  p {
    font-family: "Quicksand", sans-serif;
    font-weight: normal;
    font-size: 19px;
  }
  .container {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 1100px;

    .wrapper {
      display: flex;
      flex-direction: column;
      margin-top: 40px;

      @media (min-width: 1024px) {
        flex-direction: row;
        margin-top: 0;
      }

      .content {
        @media (min-width: 1024px) {
          width: 58%;
        }

        .intro {
          margin: 40px 20px;

          h2 {
            margin-bottom: 30px;
            color: #666;
          }

          @media (min-width: 1024px) {
            margin: 30px 50px;
          }

          @media (min-width: 1200px) {
            margin: 80px 50px;
          }
        }

        .cardContainer {
          display: flex;
          flex-direction: column;
          align-items: center;

          & > a {
            margin-bottom: 30px;
          }

          @media (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
            margin: 20px;
          }

          @media (min-width: 1024px) {
            flex-direction: row;
            justify-content: space-between;
            position: relative;
            margin-right: -150px;
            z-index: 1;
            margin-bottom: -40px;
          }

          @media (min-width: 1200px) {
            margin-right: -120px;
          }
        }
      }

      .imageContainer {
        display: none;
        @media (min-width: 1024px) {
          display: block;
          width: 42%;
        }

        div {
          padding: 60px 0 0 40px;
          position: relative;
          height: 100%;
        }
      }
    }

    .promoWrapper {
      display: flex;
      text-align: center;
      margin: 20px;
      flex-direction: column;

      @media (min-width: 768px) {
        flex-direction: row;
        text-align: right;
      }

      @media (min-width: 1024px) {
        margin: 160px 40px;
      }
    }
  }
}
