#main {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  min-height: 100vh;

  .container {
    display: flex;
    flex-direction: column;
    font-weight: normal;
    color: #333;
    font-family: "Quicksand", sans-serif;
    font-size: 17px;
    padding: 30px;
    width: 620px;
    padding-bottom: 30px;

    @media (min-width: 768px) {
      margin-top: 12vh;
    }
  }
}
