#main {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  min-height: 100vh;

  .container {
    display: flex;
    flex-direction: column;
    font-weight: normal;
    color: #333;
    font-family: "Quicksand", sans-serif;
    font-size: 17px;
    padding: 30px;
    width: 620px;
    padding-bottom: 30px;

    @media (min-width: 768px) {
      margin-top: 12vh;
    }

    .pageTitle {
      margin-top: 10px;
      margin-bottom: 20px;
      margin-left: -15px;
      font-size: 50px;
      font-weight: 500;
      color: #666;
      font-family: "Roboto", "sans-serif";

      @media (min-width: 768px) {
        margin-top: 50px;
        margin-bottom: 20px;
        margin-left: -30px;
        font-size: 50px;
      }
    }
  }
}
