.card {
  cursor: pointer;
  display: flex;
  width: 45%;
  justify-content: center;
  align-items: center;
  height: 60px;
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  transition: background-color 0.5s, box-shadow 1s;

  input {
    position: fixed;
    opacity: 0;
    pointer-events: none;
  }
  label {
    cursor: pointer;
  }

  &:hover {
    background: rgba(102, 204, 255, 0.05);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.15);
  }

  .text {
    pointer-events: none;
    padding: 6px 0;
  }

  &.selected {
    box-shadow: 1px 1px 5px rgba(13, 112, 161, 0.541);
    .text {
      padding: 6px 0 2px;
      border-bottom: 4px solid rgba(102, 204, 255, 0.25);
    }
  }

  &.faded {
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    .text {
      color: #aaa;
    }
  }
}
